In [61]:
### all of the imports go into requirements!!!
import pandas as pd
import numpy as np
import scipy
import pathlib
from pathlib import Path
import string
from datetime import timedelta

In [62]:
# Load your existing database into a DataFrame
df = pd.read_csv('/home/yannik/ticket-control-bvg/data/s_u_stations_fixed_with_keys.csv')  # Replace with the path to your database file
# Notice the .copy() to copy the values 
df = df.copy()

In [63]:
df.head()

,Unnamed: 0,station name,lines,area,latitude,longitude,keys
0,0,Adenauerplatz,U7,Charlottenburg,52.499722,13.307222,adenauerplatz
1,1,Adlershof,"S45, S46, S8, S85, S9",Adlershof,52.434722,13.541389,adlershof
2,2,Afrikanische Straße,U6,Wedding,52.560556,13.334167,afrikanische str
3,3,Ahrensfelde,S7,Marzahn,52.571667,13.565000,ahrensfelde
4,4,Alexanderplatz,"U2, U5, U8, S3, S5, S7, S9",Mitte,52.521389,13.412639,alex

In [64]:
# create a dictionary where U/S bahn line names are the keys and the respective stations are the values incl. lat & lon
output = {'station': [], 'line': [],'latitude':[], 'longitude': []}
for idx,row in df.iterrows():
    line_split = row['lines'].split(', ')    
    for i in line_split:
        output['station'].append(row['keys'])
        output['latitude'].append(row['latitude'])
        output['longitude'].append(row['longitude'])
        output['line'].append(i)
station_to_line = pd.DataFrame(output)

In [65]:
station_to_line

            station line   latitude  longitude
0     adenauerplatz   U7  52.499722  13.307222
1         adlershof  S45  52.434722  13.541389
2         adlershof  S46  52.434722  13.541389
3         adlershof   S8  52.434722  13.541389
4         adlershof  S85  52.434722  13.541389
..              ...  ...        ...        ...
572             zoo   S3  52.507222  13.332500
573             zoo   S5  52.507222  13.332500
574             zoo   S7  52.507222  13.332500
575             zoo   S9  52.507222  13.332500
576  zwickauer damm   U7  52.423333  13.483889

[577 rows x 4 columns]

In [66]:
station_to_line = station_to_line.drop_duplicates()

In [67]:
station_to_line

            station line   latitude  longitude
0     adenauerplatz   U7  52.499722  13.307222
1         adlershof  S45  52.434722  13.541389
2         adlershof  S46  52.434722  13.541389
3         adlershof   S8  52.434722  13.541389
4         adlershof  S85  52.434722  13.541389
..              ...  ...        ...        ...
572             zoo   S3  52.507222  13.332500
573             zoo   S5  52.507222  13.332500
574             zoo   S7  52.507222  13.332500
575             zoo   S9  52.507222  13.332500
576  zwickauer damm   U7  52.423333  13.483889

[574 rows x 4 columns]

In [68]:
station_to_line[station_to_line['line'] == 'U7']

                     station line   latitude  longitude
0              adenauerplatz   U7  52.499722  13.307222
21          altstadt spandau   U7  52.539167  13.205556
37         bayerischer platz   U7  52.488611  13.340000
43              berliner str   U7  52.487222  13.330833
58               bismarckstr   U7  52.511389  13.304722
62             blaschkoallee   U7  52.451667  13.449722
63                 blissestr   U7  52.486667  13.321944
80                 britz süd   U7  52.437778  13.448333
100           eisenacher str   U7  52.489444  13.350278
105       fehrbelliner platz   U7  52.490278  13.314167
148             gneisenaustr   U7  52.491389  13.396111
153               grenzallee   U7  52.463333  13.443889
167                 halemweg   U7  52.536667  13.286389
174               haselhorst   U7  52.538889  13.232778
192             hermannplatz   U7  52.487222  13.424722
220       jakob kaiser platz   U7  52.536667  13.293333
231  johannisthaler chaussee   U7  52.429444  13.453056
233            jungfernheide   U7  52.530556  13.300139
241            karl marx str   U7  52.476111  13.439167
247               kleistpark   U7  52.490556  13.360278
250           konstanzer str   U7  52.493611  13.310000
283           lipschitzallee   U7  52.424722  13.462778
299         mierendorffplatz   U7  52.526667  13.305000
305            möckernbrücke   U7  52.499167  13.383056
311                 neukölln   U7  52.469444  13.442222
369          parchimer allee   U7  52.444722  13.449722
370             paulsternstr   U7  52.538056  13.247778
396         rathaus neukölln   U7  52.481944  13.433056
399          rathaus spandau   U7  52.535278  13.199722
405     richard wagner platz   U7  52.515833  13.307500
406                 rohrdamm   U7  52.537222  13.262500
410                    rudow   U7  52.416111  13.495278
451              siemensdamm   U7  52.536667  13.275556
485                 südstern   U7  52.489444  13.407778
549        wilmersdorfer str   U7  52.506667  13.306667
560              wutzkyallee   U7  52.423333  13.474722
561                 yorckstr   U7  52.492500  13.370278
569                zitadelle   U7  52.537778  13.217778
576           zwickauer damm   U7  52.423333  13.483889

In [69]:
station_to_line.to_csv('stations_per_line.csv')